.bg-img-contact {
  background: linear-gradient(rgba(29, 28, 28, 0.44), rgba(17, 15, 15, 0.44)), url('../assets/images/contact/contact.jpg') center center no-repeat;
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact ul {
  border: none;
}
.contact ul li{
  text-decoration: none;
  display: inline-block;
}
.contact span{
  font-weight:100;
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.contact a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}