/* scroll to top css section */

.scroll-to-top-button {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border: none;
  background-color: #1d7ce1;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;  
  justify-content: center;
}

.scroll-to-top-button.visible {
  display: block;
}
.scroll-to-top-button:hover{  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}